version: "3.9"

services:
  # Postgres DB used by stakeholders (and can be used by others)
  stakeholders-db:
    image: postgres:15
    container_name: stakeholders-db
    environment:
      POSTGRES_DB: stakeholders
      POSTGRES_USER: stakeholders
      POSTGRES_PASSWORD: secretpassword
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U stakeholders"]
      interval: 10s
      timeout: 5s
      retries: 5

  gateway:
    build: ./API_GATEWAY
    container_name: gateway
    ports:
      - "8080:8080"
    depends_on:
      - stakeholders
      - blog
      - auth
      - tour

  auth:
    build: ./AUTH
    container_name: auth
    ports:
      - "8082:8082"
    environment:
      DB_HOST: auth-db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: auth
      DB_PORT: 5432
    depends_on:
      - auth-db

  auth-db:
    image: postgres:16
    container_name: auth-db
    restart: always
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - auth_data:/var/lib/postgresql/data

  stakeholders:
    build: ./STAKEHOLDERS
    container_name: stakeholders
    environment:
      DATABASE_URL: host=stakeholders-db user=stakeholders password=secretpassword dbname=stakeholders port=5432 sslmode=disable
    depends_on:
      stakeholders-db:
        condition: service_healthy
    ports:
      - "8081:8081"
      - "50051:50051"
    volumes:
      - ./STAKEHOLDERS:/src

  blog:
    build: ./BLOG
    container_name: blog
    ports:
      - "5251:5251"
    volumes:
      - ./BLOG:/src
    environment:
      MongoDatabaseSettings__ConnectionString: "mongodb://blog-db:27017"
      MongoDatabaseSettings__DatabaseName: "BlogDB"
    depends_on:
      - blog-db

  blog-db:
    image: mongo:6
    container_name: blog-db
    restart: always
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_DATABASE: BlogDB
    volumes:
      - blog-data:/data/db

  # ---------------------------------------------------------
  #                      TOUR MICROSERVICE
  # ---------------------------------------------------------
  tour:
    build: ./TOUR
    container_name: tour
    ports:
      - "8094:8094"
    environment:
      DB_HOST: tour-db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: tour
      DB_PORT: 5432
    depends_on:
      tour-db:
        condition: service_healthy
    volumes:
      - ./TOUR:/src

  tour-db:
    image: postgres:15
    container_name: tour-db
    restart: always
    environment:
      POSTGRES_DB: tour
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - tour_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d tour"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  blog-data:
  auth_data:
  pgdata:
  tour_data:
